<div class="container">
    <cabecalho titulo="Cadastro login doador"></cabecalho>
    <div class="jumbotron">
        <form name="cadastroLoginForm">
            <input class="form-control" type="text" placeholder="Usuário" ng-model="loginDoador.usuario" ng-required="true">
            <input class="form-control" type="password" placeholder="Senha" ng-model="loginDoador.senha" ng-required="true">

            <button type="submit" class="btn btn-success btn-block" ng-disabled="cadastroLoginForm.$invalid" ng-click="cadastrarloginDoador()">CADASTRAR</button>

        </form>
    </div>
</div>