<div class="container">
    <menu ativo="Doador"></menu>

    <div class="jumbotron">
        <a href="#/cadastroDoador"><button type="button" class="btn btn-primary btn-block">CADASTRO</button></a>
        <a href="#/login"><button type="button" class="btn btn-primary btn-block">NOVO AGENDAMENTO</button></a>
        <a href="#/"><button type="button" class="btn btn-primary btn-block" ng-disabled="true">CONSULTAR AGENDAMENTO</button></a>
        <a href="#/"><button type="button" class="btn btn-primary btn-block" ng-disabled="true">CANCELAMENTO DE AGENDAMENTO</button></a>
        <a href="#/"><button type="button" class="btn btn-primary btn-block" ng-disabled="true">AVALIAÇÃO DE  QUALIDADE DO ATENDIMENTO</button></a>
    </div>
</div>