<div class="container">
    <menu ativo="Home"></menu>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img class="background" src="../img/gota-sangue.gif">
            </div>
            <div class="col-md-9">
                <h1 style="color:#00c5cd"> Doe sangue, doe vidas!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md">
                <a href="#/cadastroDoador"><button type="button" class="btn btn-danger btn-block">CADASTRE-SE</button></a>
            </div>
        </div>
    </div>
</div>