<div class="container">
    <cabecalho titulo="Login"></cabecalho>
    <div class="jumbotron">
        <form name="loginForm">
            <input class="form-control" type="text" placeholder="Usuário" ng-model="login.usuario" ng-required="true">
            <input class="form-control" type="password" placeholder="Senha" ng-model="login.senha" ng-required="true">
            <button type="submit" class="btn btn-success btn-block" ng-disabled="loginForm.$invalid" ng-click="pesquisarlogin()">PESQUISAR</button>
        </form>
    </div>
</div>