<div class="container">
    <cabecalho titulo="Novo agendamento"></cabecalho>
    <div class="jumbotron">
        <form name="">
            <select class="form-control" ng-model="laboratorio" ng-options="laboratorio.Nome for laboratorio  in  listaLaboratorios" ng-change="carregaAgendaLaboradorio()">
                <option value="">Selecione um laboratório</option>
            </select>
            <br />

            <div ng-if="listaAgendaLaboradorio.length > 0">
                <table class="table table-striped">
                    <tr>
                        <th>
                        </th>
                        <th>
                            Data
                        </th>
                        <th>
                            Hora
                        </th>
                    </tr>
                    <tr ng ng-repeat="agendaLaboradorio in listaAgendaLaboradorio">
                        <td>
                            <input type="radio" name="radioAgenda" ng-model="$parent.agendaEscolhida" ng-value="{{::agendaLaboradorio}}">
                        </td>
                        <td>
                            <span ng-bind="agendaLaboradorio.Data"></span>
                        </td>
                        <td>
                            <span ng-bind="agendaLaboradorio.Hora"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="listaAgendaLaboradorio.length  == 0" class="text-center">
                <span class="label label-warning">Agenda não disponivel para o laboratório selecionado </span>
            </div>

            <button type="submit" class="btn btn-success btn-block" ng-disabled="listaAgendaLaboradorio.length == 0" ng-click="criarAgenda()">AGENDAR</button>
        </form>
    </div>
</div>